:root {
    /* colors used */
    --background: #fffefa;
    --lightText: #c5bebe;
    --text: #625f5f;    
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item :last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}