:root {
    /* colors used */
    --background: #fffdf3;
    --highlight: #fffceb;
    --lightText: #948d7b;
    --text: #2e2412; 
    --lightAttn: #f6e0b5;
    --lightAttnAlt: #aeba99;
    --darkAttn: #8ba185;
    --medAttn: #d2cac5;
    
    /* fonts */
    --txtReg: 'Archivo Narrow', sans-serif;
    --txtAttn: 'Bebas Neue', sans-serif;

} 

.archivo-narrow-lc {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
        background-color: var(--background);
        font-family: var(--txtAttn), sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.4rem; 
        color: var(--text);
        margin: 1px 20px 10px 5px;
        padding: 5px 20px 10px 7px;
}

.navbar {
    background-color: var(--highlight);
}

main{
    font-family: var(--txtReg);
    letter-spacing: 0.2rem;
}
    
ul {
        list-style-type: none;
}

.pokemon-list{
    list-style-type: none;
    padding-left:0;

}

/* Container perspective */
.pokemon-list {
    perspective: 1000px;
}

/* Card Styling */
.pokemon.imgUrl {
    position: relative;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
    box-shadow: -5px -5px 10px -5px #ec9bb6, 5px 5px 10px -5px #ccac6f, 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-color: #040712;
    transform-origin: center;
}

/* Shine effect */
.pokemon.imgUrl::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0) 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Tilt effect on hover */
.pokemon.imgUrl:hover {
    transform: rotateY(15deg) rotateX(15deg);
    box-shadow: -20px -20px 30px -15px #ec9bb6, 20px 20px 30px -15px #ccac6f, 0 0 13px 4px rgba(255, 255, 255, 0.5);
}

.pokemon.imgUrl:hover::before {
    opacity: 1;
}

/* Media queries */
@media screen and (min-width: 600px) {
    .pokemon.imgUrl {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
    }
}

    

    
hr.solid {
        border-top: 2px solid;
}

.label{
    font-family: var(--txtAttn);
}

.modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
}

.modal-content{
    padding: 15px;
}

.modal-body img.modal-img{
    width: 100%;
    max-width: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

.modal-header .close{
    margin: -1rem -1rem -1rem auto;
}

 /* placeholder styling for load message */
 #loading-message {
        display: block; 
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 9999;
}
    
@media all and (max-width: 500px) {
        .grid {
            grid-template-columns: 1fr;
        }    
}
    
@media all and (min-width: 500px) and (max-width: 750px){
        .grid {
            grid-template-columns: 1fr 1fr;
        }
}
    
@media all and (max-width: 750px) {
    .grid {
         grid-gap: 10px;
     }
    .grid__item :last-child {
         grid-column: auto / auto;
         grid-row: auto / auto;
        }
    h1 {
         font-size: 22px;
        }
    }

    

    